/01_account_data.json
/02_summoner_data.json
/03_ranked_data.json
/04_match_ids.json
/05_match_details.json
/1_riot_id.json
/2_summoner_data.json
/aa(1).py
/aa.py
/alunos(1).csv
/alunos(1).txt
/alunos.csv
/alunos.txt
/aula01(1).ipynb
/aula01.ipynb
/aula02(1).ipynb
/aula02.ipynb
/aula03(1).ipynb
/aula03.ipynb
/aula04(1).ipynb
/aula04.ipynb
/aula05(1).ipynb
/aula05.ipynb
/aula06(1).ipynb
/aula06.ipynb
/aula07(1).ipynb
/aula07.ipynb
/aula08(1).ipynb
/aula08.ipynb
/aula09.py
/bitcoins(1).json
/bitcoins.json
/bizarro(1).ipynb
/bizarro.ipynb
/dados(1).json
/dados.json
/email(1).txt
/email.txt
/ex(1).py
/ex.py
/exduplafuncao(1).ipynb
/exduplafuncao.ipynb
/exduplawhile(1).py
/exduplawhile.py
/fora!!(1).jpg
/fora!!.jpg
/github.ipynb
/Jack-Black-Varet-Awards-Circuit-Podcast.jpg
/po(1).json
/po.json
/riot.json
/riot.py
/riot_user.json
/SAIDA(1).txt
/SAIDA.txt
/sla(1).py
/sla.py
/stream.py
/Thumbs.db
/urso(1).jpg
/urso.jpg